.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.logo--first {
  color: var(--first-logo-color);
}

.logo--black {
  color: var(--secondary-logo-color);
}

.logo--white {
  color: var(--basic-color);
}
