.navigation {
  display: flex;
  a {
    display: block;
    padding: 24px 0;
  }
}

.navigation--activ a {
  position: relative;
  color: var(--first-logo-color);
  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--first-logo-color);
  }
}

.navigation__item {
  display: flex;
  margin-left: 93px;
}

.navigation__list {
  &:not(:last-child) {
    margin-right: 50px;
  }
  & a {
    display: block;
    color: var(--basic-title-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--first-logo-color);
    }
  }
}


.header {
  display: flex;
}


.header__address {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header__item {
  display: flex;
  align-items: center;
  color: var(--basic-text-color);
  fill: var(--basic-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--first-logo-color);
    fill: var(--first-logo-color);
  }
}

.header__icon {
  margin-right: 10px;
}

.header__address--retriat {
  margin-right: 50px;
}
