.piple__title {
    color: var(--basic-title-color);
    text-align: center;
  
    font-weight: 500;
    letter-spacing: 0.48px;
  }
  
  .piple__list {
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
      }
  }
  
  
  .piple__item {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;

    ul{
      margin-top: 16px;
    }
  }
  
  .piple__text {
    text-align: center;
  
    letter-spacing: 0.48px;
    margin-top: 10px;
  }
  
  .piple__border {
    border-radius: 0px 0px 4px 4px;
    background: var(--basic-color);
    box-shadow: var(--piple-shadow-one), var(--piple-shadow-two),
      var(--piple-shadow-three);
  }
  
  .piple ul {
    display: flex;
  }