.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

  
.section__background {
    background-color: var(--background-color-button);
  }


.section__title {
    color: var(--basic-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }